<header><div class="top_line"></div></header>
<section class="main">
  <div class="space10"></div>
  <h1 class="title">会员登录</h1>
  <section class="m_box angled-135 stripes border_radius">
    <ul class="login">
      <li class="login_qq">腾讯QQ帐号登录</li>
      <li class="login_sina">新浪微博登录</li>
      <li class="login_renren">人人网帐号登录</li>
    </ul>
  </section>

</section>


