
<a href="javascript:void(0);" onclick ="javascript:window.open('/logins/request_qq_web', '_blank', 'height=281,width=228,left=150,top=150');"><img src="/assets/qq.png" />qq</a>
<a href="javascript:void(0);" onclick ="javascript:window.open('/logins/request_sina', '_blank', 'height=281,width=228,left=150,top=150');"><img src="/assets/qq.png" />sina</a>
<a href="javascript:void(0);" onclick ="javascript:window.open('/logins/request_renren', '_blank', 'height=281,width=228,left=150,top=150');"><img src="/assets/qq.png" />renren</a>