
<a href="javascript:void(0);" onclick ="javascript:var height = $(document).height();var width = $(document).width();window.open('/logins/request_qq_web', '_blank', 'height=200,width=248,left=150,top=100');"><img src="/assets/qq.png" /></a>