<div id="face">
  <section class="m_box angled-135 stripes border_radius">
    <div class="m_bt">听声音，选择你听到的单词。<span class="count_down">5</span></div>
    <article class="words_audio">
      <div class="play_audio" style="float:left;">Play</div>
      <audio preload="preload" loop="">
        <source src="<%= "#{Constant::SERVER_PATH}#{@word.enunciate_url}" %>" type="audio/mpeg"/>
        您的浏览器不支持 audio 标签。
      </audio>
    </article>
    <div class="to_be_sort">
      <section class="words_list border_radius">
        <p onclick="javascript:answer_correct();"><span><%= @word.name %></span></p>
      </section>
      <% @other_words.each do |w| %>
        <section class="words_list border_radius">
          <p onclick="javascript:answer_mistake();"><span><%= w.name %></span></p>
        </section>
      <% end %>
    </div>
  </section>
  <section class="words_btn_box">
    <div class="rollBack" onclick="javascript:rollback();">翻面学习</div>
    <div class="knowWell" onclick="javascript:click_knowwell();">已经掌握</div>
  </section>
</div>