<div class="mask" id="tishi_zz" style="display: none;"></div>
<article class="t_area" id="jizhong_tab" style="display: none;">
  <div class="t_icon"><img src="/assets/ld_icon.png"/></div>
  <h1>请集中精神才有效果！</h1>
  <div class="t_btn border_radius"><h2 onclick="javascript:restart_clock();">知道了</h2></div>
  <div class="t_btn border_radius"><h2 onclick="javascript:closeme();">休息下</h2></div>
</article>
