<header>
  <div class="top_line"></div>
  <div class="back border_radius" onclick="javascipt:window.location.href='/words';" >返回</div>
  <h1 class="h_title">大学英语四级词汇</h1>
</header>
<section class="main" id="wrapper">
  <div id="scroller">
    <div id="ajax_loading">
      <div class="mask" style="height:500px;" id="tishi_tt"></div>
      <article class="t_area" id="treetrue">
        <div class="t_icon"><img src="/assets/suo_icon.png" /></div>
        <h1>Congratulations</h1>
        <% if @next_date=="" %>
        <p>祝贺你，你已经背诵完了所有单词。</p>
        <% else %>
        <p>您今天的背诵任务已经全部完成。</p>
        <p>下一步请于<font color="red"><%= @next_date %></font>回来复习，那天您有<font color="red"><%= @word_sum %></font>个单词需要巩固记忆。</p>
        <% end %>
        <div class="t_btn border_radius" onclick="javascript:window.location.href='/words';"><h2>知道了</h2></div>
      </article>
    </div>
  </div>
</section>