<header>
  <div class="top_line"></div>
  <h1 class="h_title">大学英语四级词汇</h1>
</header>
<section class="main" id="wrapper">
  <div id="scroller">
    <div id="ajax_loading">
      <%= render :partial=>"/words/ajax_source",:object=>{:word=>@word,:web_type=>@web_type,:sentences=>@sentences,:other_words=>@other_words} %>
    </div>
  </div>
</section>
