@charset "utf-8";
* { padding: 0; margin: 0;}
body { font-family: Arial, "微软雅黑"; font-size: 18px; color: #333; background: #fbfdf1;}
ul { list-style: none;}

.fontSize16 { font-size: 16px;}
.border_radius {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
h1, h2 ,h3 { font-weight: 400;}
.clear { clear: both;}
.gray { color: #b9bab5;}
.space10 { height: 10px;}
.float_r { float: right;}




header {
	position: absolute;
	z-index: 2;
	top: 0;
	left:0;
	width: 100%;
	background: #f1f3e6;
}
.top_line {
	height: 5px;
	background: -webkit-gradient(linear, left top, right top, from(#7cbf7c), to(#ffda5e));
    background: -moz-linear-gradient(left, #7cbf7c, #ffda5e);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7cbf7c,endcolorstr=#ffda5e,gradientType=1);
}
.title {
    width: 100%;
	height: 70px;
	margin: 0 auto;
	text-align: center;
	line-height: 70px;
	background: url(/assets/h1_bg.png) no-repeat center center;
	letter-spacing: 2px;
	font-size: 26px;
}
.main { padding: 0px 0 40px 0;}

.m_box {
    padding: 10px 10px;
	margin: 30px 10px;
	background: #ecefe2;
	-webkit-box-shadow: 3px 3px 1px rgba(222,222,210,1);
	-moz-box-shadow: 3px 3px 1px rgba(222,222,210,1);
	box-shadow: 3px 3px 1px rgba(222,222,210,1);
	overflow: hidden;
}


.time_title {text-align: center; font-size: 18px; line-height: 32px; margin: 5px 0;}
.time_con {text-align: center; margin: 5px 0;}
.time_con span {
	height: 36px;
	border-bottom: 1px #000000 solid;
	margin: 0 2px;
	text-align: center;
	display: inline-block;
	font-size: 36px;
}

.circle_box { width: 200px; height: 200px; margin: 10px auto;}


.category_box { padding: 10px; width: 100%; text-align: center;}
.c_word { width: 75px; display: inline-block;}
.c_word h3 { font-size: 16px; text-align: center;}
.green_line, .sageGreen_line, .black_line { width: 75px; height: 10px;}
.green_line { background: #96b71c;}
.sageGreen_line { background: #b5c0ad;}
.black_line { background: #4c4c4c;}


.se_btn { width: 240px; margin: 0 auto; overflow: hidden; padding: 5px;}


.bs_btn_box { padding: 5px; height: 45px; float: left;}
.bs_btn {
	padding: 0 10px;
	height: 45px;
	border: none;
	font-family: "微软雅黑";
	line-height: 45px;
	text-align: center;
	color: #FFF;
	font-size: 28px;
	text-shadow: 0px 1px 1px #000;
    background: #96b71c;
    -webkit-box-shadow: 2px 2px 1px rgba(115,123,84,1);
	-moz-box-shadow: 2px 2px 1px rgba(115,123,84,1);
	box-shadow: 2px 2px 1px rgba(115,123,84,1);
}

.sz_btn_box { padding: 5px; height: 45px; float: left;}

.sz_btn {
	padding: 0 10px;
	height: 45px;
	border: none;
	font-family: "微软雅黑";
	line-height: 45px;
	text-align: center;
	color: #FFF;
	font-size: 28px;
	text-shadow: 0px 1px 1px #000;
    background: #b5c0ad;
    -webkit-box-shadow: 2px 2px 1px rgba(115,123,84,1);
	-moz-box-shadow: 2px 2px 1px rgba(115,123,84,1);
	box-shadow: 2px 2px 1px rgba(115,123,84,1);
}

.jz_btn_box { width: 90px; padding: 5px; height: 45px; margin: 0 auto;}

/*-------其他---------*/
.h_title { font-size: 18px; height: 55px; line-height: 55px; margin-left: 20px;}
.back {
    width: 78px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border: 1px #c8c7c4 solid;
	color: #b5b5b5;
	float: right;
	margin: 10px 20px 0 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eeeded));
    background: -moz-linear-gradient(top, #fdfdfd, #eeeded);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#fdfdfd,endcolorstr=#eeeded,gradientType=0);
}

.words_audio { padding: 10px; margin: 5px 20px 20px 20px; overflow: hidden;}
.words_audio h3 { float: left; color: #99cc96; font-size: 32px;}
.words_dy { float: left; font-size: 18px; margin-left: 20px; padding-top: 12px;}
.play_audio {width: 35px; height: 32px; background: url(/assets/lb_icon.png) no-repeat; overflow:hidden; text-indent: -999px;}

.words_cx { height: 32px; line-height: 32px; margin: 5px 0;}
.words_cx span { font-size: 26px; margin: 0 10px;}

.words_list {
    margin: 20px 20px;
	color: #FFF;
	padding: 20px 20px;
	line-height: 24px;
	background: #97b71c;
    -webkit-box-shadow: 2px 2px 1px rgba(115,123,84,1);
	-moz-box-shadow: 2px 2px 1px rgba(115,123,84,1);
	box-shadow: 2px 2px 1px rgba(115,123,84,1);
	word-break:break-all;
	overflow: hidden;
}
.words_list span { font-size: 32px; margin: 0 10px;}

.example_list { line-height: 30px; padding: 0 10px; margin: 20px 20px; }

.words_btn_box { margin: 30px 10px; padding: 20px 10px; text-align: center; font-family: "微软雅黑";}
.rollBack, .knowWell, .wordNext { width: 100px; padding-top: 50px; line-height: 32px; text-align: center; display: inline-block; margin: 0 10px;}
.rollBack { background:url(/assets/rollBack_icon.png) no-repeat center top;}
.knowWell { background:url(/assets/knowWell_icon.png) no-repeat center top;}
.wordNext { background:url(/assets/wordNext_icon.png) no-repeat center top;}


.mask {
	width: 100%;
	height: 100%;
	left:0;
	position:absolute;
	top:0;
	background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#333333));
    background: -moz-linear-gradient(top, #000000, #333333);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#000000,endcolorstr=#333333,gradientType=0);
	opacity:0.8;
	filter:alpha(opacity=80);
	z-index:10;
}
.t_area { width: 100%; left:0; top:0; position:absolute; z-index:2000; color: #FFF; text-align: center; padding-top: 40px;}
.t_icon { width: 65px; height: 65px; margin: 0 auto;}
.t_area h1 { font-size: 26px; margin: 20px 0;}
.t_area h2 { font-size: 24px; text-shadow: 0px 1px 1px #000; letter-spacing: 3px;}
.t_btn {
	margin: 40px 50px;
	padding: 5px 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#b3beac), to(#484848));
    background: -moz-linear-gradient(top, #b3beac, #484848);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#b3beac,endcolorstr=#484848,gradientType=0);
	-webkit-box-shadow: 2px 2px 1px rgba(51,51,51,1);
	-moz-box-shadow: 2px 2px 1px rgba(51,51,51,1);
	box-shadow: 2px 2px 1px rgba(51,51,51,1);
}
.t_btn p { font-size: 14px;}

.m_bt { height: 24px; line-height: 24px; color: #999; padding-left: 20px;}
.count_down { float: right; background: url(/assets/time_bg.png) no-repeat left center; padding-left: 20px;}


.words_input { display: inline; padding: 0 5px; height: 32px; line-height: 32px;}




/*login----------------*/
.login li { width: 250px; height: 65px; margin: 20px auto; overflow: hidden; text-indent: -999px;}
.login_qq { background: url(/assets/login_bg.png) no-repeat 3px 3px;}
.login_sina { background: url(/assets/login_bg.png) no-repeat 3px -94px;}
.login_renren { background: url(/assets/login_bg.png) no-repeat 3px -190px;}

/*学习规则----------------*/
.learn_gz li { width: 200px; height: 55px; margin: 10px auto; line-height: 55px; font-size: 24px;}
.tx_input {
    width: 50px;
	padding: 0 5px;
	margin: 0 5px;
	display: inline-block;
	text-align: center;
	height: 24px;
	line-height: 24px;
	color: #999;
	font-size: 20px;
}

.drag_box { overflow: hidden;}
.drag_box span {float: left; padding: 0 5px; margin: 0 10px; border: 1px #CCCCCC solid; background: #e2e6d7; cursor: move;}
.drag_box div {
	min-width: 50px;
	height: 30px;
	float: left;
	padding: 0 5px;
	margin: 0 10px;
	border: 1px #CCCCCC solid;
	background: #FFF;
}
.drag_box div.sign { border: none; min-width:10px; background: none;}

/*斜纹角度--------*/
.stripes {
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    background-size: 50px 50px; /*控制条纹的大小*/
}
.angled-135 {
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,
                            color-stop(.25, rgba(255, 255, 255, 0.1)), color-stop(.25, transparent),
                            color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, 0.1)),
                            color-stop(.75, rgba(255, 255, 255, 0.1)), color-stop(.75, transparent),
                            to(transparent));
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%,
                        transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%,
                        transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%,
                        transparent 75%, transparent);
}
/*-----iscroll4--------*/
#wrapper {
	position:absolute;
	z-index:1;
	top:60px;
	bottom: 0;
	left:0;
	width:100%;
	overflow:auto;
}
#scroller {
	position:absolute;
	z-index:1;
	width:100%;
	padding:0;
}

