<!DOCTYPE html>
<html>
<head>
  <meta property="qc:admins" content="212024754536716317637" />
  <title>WordPractice</title>  
  <%= stylesheet_link_tag    "style" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
