<!DOCTYPE HTML>
<html>
  <head>
    <meta property="qc:admins" content="212024754536716317637" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=1.0,maximum-scale=1.3 user-scalable=yes"/>
    <meta charset="utf-8"/>
    <%= stylesheet_link_tag    "style" %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" src="/assets/iscroll.js"></script>
    <%= csrf_meta_tags %>
    <title>单词学习-赶考网</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
